:root {
  --gray: #f0f0f0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  >.trashcan {
    background: none;
    padding: 0;
    border: 0;
    cursor: pointer;

    img {
      width: 30px;
    }

    &::after {
      display: none;
    }
  }

  .details {
    display: grid;
    flex: 1;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    grid-template-columns: 40px 1fr;

    h2 {
      margin: 0;
      opacity: 0.7;
      font-family: var(--main-font);
      font-size: 15px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 400px;
    }

    .img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: var(--white);
      grid-row: 1/3;
      justify-self: center;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
  }

  a::after {
    color: var(--light-blue);
    scale: 1.6;
  }
}

.site-main {
  background-color: var(--gray-brow);
  max-height: calc(100% - 50px);

  .send-message {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: var(--gray);
    border-top: 1px solid var(--gray);
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;

    input {
      flex: 1;
      padding: 10px;
      border: 0;
      border-radius: 5px;
      background-color: var(--white);
    }

    button {
      background-color: var(--light-blue);
      padding: 10px;
      border: 0;
      border-radius: 5px;
      color: var(--white);
      cursor: pointer;
    }
  }
}

.messages {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: scroll;
  padding: 10px;
  padding-bottom: 66px;
  box-sizing: border-box;
  display: flex;
  gap: 10px;
  flex-direction: column;

  .message {
    padding: 10px;
    border-radius: 5px;
    font-family: var(--main-font);
  }

  .sent {
    align-self: flex-end;
    max-width: 80%;
    background-color: var(--light-brown);

    > p {
      margin: 0;
    }
  }

  .received {
    align-self: flex-start;
    max-width: 80%;
    background-color: var(--white);

    > p {
      margin: 0;
    }
  }
}