{% extends 'base/auth.html' %} {% block 'header' %}
<a href="{% url 'user.signup' %}">Cadastre-se</a>
<h2>Conectar</h2>
{% endblock %} 

{% block 'details' %}
  Insira seus dados para se <strong>conectar</strong>
{% endblock %}

{% block 'inputs' %}
<label>
  <input type="email" name="email" placeholder="Email" required />
</label>
<label>
  <input
    type="password"
    name="password"
    placeholder="Senha"
    minlength="8"
    required
  />
  <a href="#">Esqueceu sua senha?</a>
</label>
{% endblock %}